
.login {
   padding: 10px;
   text-align: right;
   text-align: bottom;
   height: 100%;
   color: white;

   .form-group {
      float: left;
      padding: 10px 5px;

      label {
         float: left;
      }

      input[text]{
         float: left;
         border: none;
         color: black;
      }

      .button {
         margin: 5px;
         margin-left: 10px;
      }

      
   }
}
a, span {
         color: white;
         padding: 0 5px;
      }