
.login {
   padding: 10px;
   text-align: right;
   text-align: bottom;
   height: 100%;

   .form-group {
      float: left;

      input[text]{
         float: left;
         border: none;
         
      }
   }
}