

.container {
   .row {
      .logo, .login, .menu {
         vertical-align: bottom;
         height: 100%;
         padding: 5px;
         float: left;
      }

      .logo, .menu {
         width: 30%;
      }

      .login {
         width: 40%;
      }

      .logo {
         color: white;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         font-size: 40px;

         span {
            font-size: 80px;
            font-style: none;
         }
      }
   }
}