
.image-container {
   width: 30%;
   max-width: 500px;
   float: left;
   img {
      min-width: 80%;
   }
}

.product-info {
   width: 70%;
   float: right;

   h1 {
      font-size: large;
      font-weight: bold;
   }
}

.related-products, .clear {
   clear: both;
}

.related-products {
   width: 80vw;
   height: 250px;
   overflow: scroll;

   .container {
      width: 3000px;
   }
}