.sidebar {
   border-radius: 4px;
   box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
   min-width: 200px;
   margin-right: 10px;

   ul li {
      list-style: none;
      padding: 5px;

      a {
      }
   }
}

