/* You can add global styles to this file, and also import other style files */

header {
   height: 100px;
}

a {
   text-decoration: none;
   font-weight: bold;
   color: black;
}


.container {
   width: 100vw;
}


.button {
   background-color: white;
   color: black;
}

