/* You can add global styles to this file, and also import other style files */

header {
   height: 100px;
}

h2 {
   font-size: 15pt;
   padding: 30px 5px 5px 0;
}

a {
   text-decoration: none;
   font-weight: bold;
   color: black;
}


.content-container {
   width: 100vw;
}


.button {
   background-color: white;
   color: black;
}

.sidebar {
   float: left;
   width: 20%;
}

.content {
   width: 80%;
   float: left;
}